{% for localnet in squid3_localnets %}
acl localnet src {{ localnet }}
{% endfor %}

{% if squid3_custom_localnets is defined %}
{% for localnet in squid3_custom_localnets %}
acl localnet src {{ localnet }}
{% endfor %}
{% endif %}

{% for sslports in squid3_sslports %}
acl SSL_ports port {{ sslports }}
{% endfor %}

{% if squid3_custom_sslports is defined %}
{% for sslports in squid3_custom_sslports %}
acl SSL_ports port {{ sslports }}
{% endfor %}
{% endif %}

{% for safeports in squid3_safeports %}
acl Safe_ports port {{ safeports }}
{% endfor %}

{% if squid3_custom_safeports is defined %}
{% for safeports in squid3_custom_safeports %}
acl Safe_ports port {{ safeports }}
{% endfor %}
{% endif %}

{% for acl in squid3_acls %}
acl {{ acl.name }} {{ acl.type }} {{ acl.arg }}
{% endfor %}

{% if squid3_custom_acls is defined %}
{% for acl in squid3_custom_acls %}
acl {{ acl.name }} {{ acl.type }} {{ acl.arg }}
{% endfor %}
{% endif %}

{% if squid3_custom_http_access is defined %}
{% for http_access in squid3_custom_http_access %}
http_access {{ http_access.perm }} {{ http_access.aclname }}
{% endfor %}
{% endif %}

{% for http_access in squid3_http_access %}
http_access {{ http_access.perm }} {{ http_access.aclname }}
{% endfor %}

http_port {{ squid3_port }}

{% if squid3_diskcache %}
cache_dir {{ squid3_diskcache }}
{% endif %}

{% if squid3_coredumpdir %}
coredump_dir {{ squid3_coredumpdir }}
{% endif %} 

{% for rp in squid3_refresh_pattern %}
refresh_pattern {{ rp.case_sensitive }} {{ rp.regex }} {{ rp.min }} {{ rp.percent }} {{ rp.max }} {{ rp.opts }}
{% endfor %}

{% if squid3_custom_refresh_pattern is defined %}
{% for rp in squid3_custom_refresh_pattern %}
refresh_pattern {{ rp.case_sensitive }} {{ rp.regex }} {{ rp.min }} {{ rp.percent }} {{ rp.max }} {{ rp.opts }}
{% endfor %}
{% endif %}

{% if squid3_outgoing_adress %}
tcp_outgoing_address {{ squid3_outgoing_address }}
{% endif %}

{% if squid3_visible_hostname %}
visible_hostname {{ squid3_visible_hostname }}
{% endif %}
